<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <form action="/get-user-profile" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email / Username</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</body>

</html>