<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{!-- {{>navbar}} --}}
    <div style="width: 75%; margin:auto">
        <ul class="nav justify-content-center">
            {{!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li> --}}
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/get-user-profile">Get Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-work-details">Create Card</a>
            </li>
        </ul>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="number" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">OTP</label>
                <input type="number" name="otp" class="form-control" id="exampleInputPassword1">
            </div>
            {{!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> --}}
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        {{!-- <form action="/resend" method="POST"> --}}
            <a href="/resend">
                <button type="button" class="btn btn-primary">Resend OTP</button></a>
            {{!--
        </form> --}}
    </div>

</body>

</html>