<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div style="width: 75%; margin:auto">
        <ul class="nav justify-content-center">
            {{!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li> --}}
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/get-user-profile">Get Profile</a>
            </li>
        </ul>
        <form action="/resend" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email / Username</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">Send OTP </button>
        </form>
    </div>
</body>

</html>