<!DOCTYPE html>
<html lang="en">
{{>header}}
</head>

<body>
    <form action="/admin-verify" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email / username</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">OTP</label>
            <input type="number" name="otp" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">verify</button>
    </form>
</body>

</html>