
/* mobile */
  @media (max-width: 640px) {

    .mag{
        margin-bottom: 300px;
        
      }
  }

/* more than mobile */
  @media (min-width: 768px) {

    .center{
        display: flex;
        justify-content: center;  
    }

   }


   .signbtn{
    background-color: rgb(165, 74, 236 );
    font-family: Arial, Helvetica, sans-serif;
    padding:11px 15px 11px 15px;
    border-radius: 7px;
    color: white;
   }

   .login{
    background-color: rgb(90, 75, 226);
    font-family: Arial, Helvetica, sans-serif;
    padding:11px 20px 11px 20px;
    border-radius: 7px;
    color: white;
    margin-right: 8px;
   }

   .brand{
    font-size: 33px;
    color: rgb(128, 0, 128);
    font-family: Helvetica, sans-serif;
   }




   .avtar{
    width: 40px;
    height: 40px;
   }


   /*  */
   :root {
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --docsearch-primary-color: var(--bd-violet);
    --docsearch-logo-color: var(--bd-violet);
}

   .navbar {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    /* background-color: #060b26; */
    background-color: rgb(58, 39, 163);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }

  .nav-menu-items {
    width: 100%;
    

  }
  


  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }